#uno {
padding: 10px;
margin-left: 40px;
margin-top: 40px;

float: left;
}

#dos{
 padding: 10px;
 margin-top: 40px;
 float: left;
}

#tres{
    padding: 10px;
    margin: 40px;
    float: left;
   }

#cuatro{
    padding: 10px;
    margin: 40px;
    float: left;
   }

#cinco{
    padding: 10px;
    margin: 40px;
    float: left;
   }