.tabla{
    position: relative;
    top: 150px;
left: 10%;
    font-family: Arial;
    
    }

    .detalle{
     background-color: #5DE271;
     border: 1px groove;
     color: white;
    
    }

    .tablatitulo{
        position: absolute;
        
       margin-top: 0px;
       
    }

    .datos{
        top: 50px;
        width: 80%;
       
    }

    .boton{
        position: absolute;
        left: 72%;
        background-color: cornflowerblue;
        color: white;
        font-size: 12px;
        padding: 2px;
        outline: none;
        border-radius: 15px;
        
    
    }